[build]
beforeBuildCommand = "trunk build --release --features tauri"
# beforeDevCommand = "trunk serve"
# beforeDevCommand = "trunk serve --features tauri --no-autoreload"
beforeDevCommand = "trunk serve --features tauri"
devPath = "http://localhost:3002"
distDir = "../dist"
withGlobalTauri = true

[package]
productName = "Example App Name"
version = "0.1.0"

[tauri.allowlist]
all = false

# [tauri.allowlist.http]
# request = true
# scope = ["https://**"]

[tauri.bundle]
active = true
category = "DeveloperTool"
copyright = ""
externalBin = []
icon = [
	"icons/32x32.png",
	"icons/128x128.png",
	"icons/128x128@2x.png",
	"icons/icon.icns",
	"icons/icon.ico",
]
identifier = "com.smilepal.dev"
longDescription = ""
resources = []
shortDescription = ""
targets = "all"

[tauri.bundle.deb]
depends = []

[tauri.bundle.macOS]
exceptionDomain = ""
frameworks = []

[tauri.bundle.windows]
digestAlgorithm = "sha256"
timestampUrl = ""

[tauri.security]

[tauri.updater]

active = false

[[tauri.windows]]
fullscreen = false
height = 600
resizable = true
title = "SmilePal Bluetooth App"
width = 800
